/* <!-- Chalange-Week#06 --> */
.home_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: lightgray;
}

#img_1 {
    grid-column: 1;
    grid-row: 1/4;
    align-self: center;
    background-color: white;
}

.tart {
    grid-column: 1/4;
    text-align: center;
    grid-row: 1;
    z-index: 1;
    font-size: 200px;
}

.cherry {
    grid-column: 2/4;
    text-align: center;
    grid-row: 2;
    z-index: 1;
    font-size: 80px;
    color: darkred;
    font-weight: bold;
    vertical-align: center;
    letter-spacing: 5px;
}


/* <!-- Chalange-Week#05 --> */

/* * {background-color: gray;}
* {border: 2px solid blue;}

#img_1 {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
}

#img_2 {
    border-radius: 50%;
    border: 10px solid darkslategray;
    width: 60%;
    padding: 0;
}

.row {
    display: flex;
}
  
.column {
    flex: 33.33%;
    padding: 30px;
    margin: 0px;
    border: 0px;
} */

/* <!-- Chalange-Week#04 --> */

/* * {background-color: pink}
* {border: 2px solid blue;}

header h1 {
    width: 100%;
    margin: 50px auto;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 36px;
}

header p {
    width: 32%;
    margin: 10px auto;
    text-align: center;
    color: white;
}

.class1 {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: white;
}

main ol {
    width: 32%;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
    line-height: 1.5;
    color: black;
    font-size: 18px;
}

img {
    width: 14%;
    display: block;
    margin: 0 auto;
}

.class2 {
    width: 20%;
    margin: 50px auto;
    text-align: center;
    color: white;
    font-size: 32px;
}

footer {
    width: 20%;
    margin: 0 auto;
    text-align: center;
    color: black;
    font-size: 14px;
} */