@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Ubuntu&display=swap');

*{
font-family: 'Ubuntu', sans-serif;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

/* Header */
.logo {
    width: 100px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    width: 80px;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #fcf9ee;
    text-decoration: none;
    font-family: 'Archivo Black', sans-serif;
    padding: 35px;
}
nav a:hover {
    background-color: #fe6d73;
    color: #161316;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #29b5b1; 
}

/* Body */
#hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 0px; 
}
#hero-box {
    grid-column: 1/11;
    grid-row: 1/11;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/10;
    grid-row: 1/2;
    margin-top: 0px;
}
#hero-img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.home-title {
    color: #29b5b1;
    font-family: 'Archivo Black', sans-serif;
    font-size: 80px;
    margin-top: -20px;
    text-align: center;
}
#hero-msg h4 {
    color: #161316;
    font-family: 'Archivo Black', sans-serif;
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
}

main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#background {
    height: 725px;
    background-color: #29b5b1;
    grid-column: 1/11;
    grid-row: 1/10;
}
body {
    font-size: 22px;
    margin: 0;
    padding: 0;
}
.join {
    background-color: #29b5b1; 
    color: #161316;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 70px;
    border-radius: 5px;
    font-family: 'Archivo Black', sans-serif;
}
.join:hover {
    background-color: #fcf9ee; 
    color: #fe6d73; 
}
.msg {
    background-color: #fe6d73; 
    line-height: 1.5em;
    padding: 35px;
    grid-column: 7/10;
    grid-row: 7/10;
    padding: 35px;
}
.msg p {
    color: #161316;
    font-size: .8em;
    padding-bottom: 15px;
}
.msg h2 {
    color: #161316;
    font-family: 'Archivo Black', sans-serif;
}
.msg1 h2 {
    color: #161316;
    font-family: 'Archivo Black', sans-serif; 
    font-size: 20px;
}
.msg1 {
    background-color: #fe6d73;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 2/5;
    grid-row: 4/6;
    padding: 35px;
}
.mountains {
    width: 100%;
    grid-column: 3/8;
    grid-row: 5/9;
    box-shadow: 3px 3px #fcf9ee;
}
h2 {
    margin: 0;
}

/* Footer */

.icon {
    width: 80px;
    padding-top: 10px;
}
footer {
    background-color: #fe6d73;
    color: #fcf9ee; 
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a  {
    color: #fcf9ee; 
    text-decoration: none;
}
footer a:hover  {
    color: #29b5b1;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
.test {
transition: transform .5s;
transform: scale(1.1);
}